#chessboard{
    display:block;
    padding:0px;
    margin:100px;
    width:384px;
    height:384px;
    border:2px solid black;
    background-color:darkseagreen;
}

.black_square
{
    display:block;
    padding:0px;
    margin:0px;
    width:48px;
    height:48px;
    float:left;
    background-color:black;
}
.white_square {
    display:block;
    padding:0px;
    margin:0px;
    width:48px;
    height:48px;
    float:left;
    background-color:white;
}
